NODE_ENV=development
HOST=0.0.0.0
PORT=8080

FIREBASE_PROJECT_ID=your-firebase-project-id
GOOGLE_APPLICATION_CREDENTIALS=C:\path\to\firebase-service-account.json

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_BUCKET=your-public-demo-audiobook-bucket
POLLY_TASK_POLL_INTERVAL_MS=2000

MAX_CHAPTER_TEXT_WORDS=3500
